* {
  /* box-sizing: inherit; */
  min-width: auto;
}

*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --bg-primary: #8d6a9f;
  --bg-secondary: #f4f4c1;
  --bg-yellow: #ffc600;
  --bg-third: #bb342f;
  --bg-fourth: #8cbcb9;
  --br-fifth: #ededed;
  --grid-gap: 20px;
  --border-radious: 3px;
}

.complete {
  /* display: flex;
  justify-items: center; */
  /* display: none;
  padding: var(--grid-gap);
  width : 1000px;
  text-align: center;
  justify-items: center; */
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30%;
  background: #72695e;
  color: aliceblue;
  z-index: 4;
  text-align: center;
  border-radius: 10px;
}

html {
  font-weight: 800;
  font-family: Helvetica, Arial, sans-serif;
  /* text-shadow: rgb(177, 176, 174) 1px 0 2px; */
  /* background-image: linear-gradient(110deg, #fa849d, var(--bg-primary)); */
}

.main {
  background: #000000;
  border-width: 10px;
  display: flex;
  justify-items: center;
}

.container {
  width : 1000px;
  display: grid;
  justify-items: center;
  border: #000000;
  /* border-style:dotted; */
}

.top {
  /* padding: var(--grid-gap); */
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-gap: var(--grid-gap);
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}

.maze {
  height: 800;
}

form 
.level,
.animation,
.algorithm,
.borderstyle
{
  display: inline-block;
  border-radius: var(--border-radious);
  background: var(--br-fifth);
  padding: 10px;
  box-shadow: 0 0 4px  rgba(0,0,0,0.1);
}

button {
  background: var(--bg-secondary);
  border-radius: var(--border-radious);
  border: 0;
  padding: 10px 20px;
  margin: 5px;
}

button:hover {
  background: var(--bg-yellow);
}