.complete {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30%;
  background: #72695e;
  color: aliceblue;
  z-index: 4;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

.main {
  background: #000000;
  border-width: 10px;
  display: flex;
  justify-items: center;
}